IDI_ICON1	ICON	DISCARDABLE	"Images/Logo/16.ico"
IDI_ICON2	ICON	DISCARDABLE	"Images/Logo/24.ico"
IDI_ICON3	ICON	DISCARDABLE	"Images/Logo/32.ico"
IDI_ICON4	ICON	DISCARDABLE	"Images/Logo/48.ico"
IDI_ICON5	ICON	DISCARDABLE	"Images/Logo/64.ico"