body{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
}

.chat{
    margin: 4px 4px 0px 4px;
}

.debug-panel{
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
    border: solid 1px gray;
    min-width: 200px;
    background: lightgray;
    opacity: 0.01;
}

.debug-panel:hover{
    opacity: 1;
}

.debug-panel .title{
    position: absolute;
    color: white;
    top: 0px;
    right: 4px;
    font-size: 12px;

}

.msgBlock{
    background: white;
    outline: none;
    color: #333;
    font-size: 1em;
}

.msgBlock.fromVisitor{
}

.msgBlock.fromOperator{
}

.msgBlock .msgHeader{
    margin: 0.833em 0 0.417em 0;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0px 2px 4px;
}

.msgBlock.fromVisitor .msgHeader{
    background: #f0f5f9;
    color: #579;
}

.msgBlock.fromOperator .msgHeader{
    background: #f9f5f0;
    color: #5a5;
}

.msgBlock .msgHeader .sender{
}

.msgBlock .msg{
}

.msgBlock .msg .time{
    -webkit-user-select: none;
    color: #aaa;
    font-size: 11px;
    float: right;
    margin: 0.417em 0.25em 0 -8.33em;
}

.msgBlock .msg .textWrapper{
    margin: 0px 40px 0px 4px;
    word-wrap: break-word;
}

.msgBlock .msg .textWrapper .text{
    font-size: 14px;
}

.typing{
    margin: 0 4px 1px 8px;
    font-size: 15px;
    color: #888;
    word-wrap: break-word;
}

.typing .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.typing .two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.typing .three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}













